{% extends 'base.html' %}

{% block title %} Выбери клуб! {% endblock %}

{% block content %}

<div class="mt-3 mb-3">
    {% if request.user.is_authenticated %}
    <h3 class="text-center ms-auto"><span class="my__username" >{{request.user.username}}</span>, 
        на этой странице можно перейти ко <span class="choosed__club">клубу</span>, новости которого Вы можете отследить</h3>
    {% else %}
    <h3 class="text-center ms-auto">На этой странице можно перейти ко <span class="choosed__club">клубу</span>, новости которого Вы можете отследить</h3>
    {% endif %}
</div>

<div class="container mt-3 mb-3">
    <div class="row mt-3 mb-3">
            {% for club in clubs %}
            <div class="col-md-3 col-sm-3 col-lg-3 col-3 mb-3">
                <a class="mb-3" style="text-decoration: none; color: black;" href="{{club.get_url}}">
                    <img width="50" height="50" src="{{club.club_photo.url}}" class="me-2">{{club.getShortName}}</a>
                <hr align="center" class="hr__line">
            </div>
            {% endfor %}
    </div>
    <div class="mt-3 mb-3">
        <p>Что дает данная фукнция?</p>
        <ul class="mt-3 mb-3">
            <li class="mb-2" style="color: #EE9A49;"><p class="text-dark">Если у Вас есть <span class="choosed__club">любимый клуб</span> - выбирайте его в списке выше, тогда будете перенаправлены на страницу с постами по тематике этого клуба</p></li>
            <li class="mb-2" style="color: #EE9A49;"><p class="text-dark">Интересно, что происходит в какой-то команде? Жми на нее, тогда увидешь, <span class="choosed__club">что происходит</span> в стане заклятого врага или следующего соперника</p></li>
            <li class="mb-2" style="color: #EE9A49;"><p class="text-dark">Выбранный клуб<span class="choosed__club"> можно менять</span> сколько угодно раз на этой странице</p></li>
        </ul>
    </div>
</div>

{% endblock %}