<footer class="footer bg-dark text-white py-5"> 
    <div class="container"> 
        <p class="lead text-center"> РПЛ &copy; Vladislav - forever</p>
        <p class="lead text-center"> &copy; Все материалы и статистические данные взяты с открытых источников в социальных сетях
            и на <a href="https://premierliga.ru/">официальном сайте</a> Тинькофф РПЛ
        </p>
        <p class="lead text-center"> &copy; <a href="https://fonts.google.com/?selected=Material+Icons+Outlined:assignment_returned">
            Fonts</a> и <a href="https://fonts.google.com/icons?selected=Material+Icons+Outlined:assignment_returned">Icons</a>
            взяты с открытых источников Google
        </p>
        <p class="lead text-center">&copy; Статьи являются авторскими, посты, комментарии и многое другое используется для ознакомления
            с функционалом сайта
        </p>
        <p class="lead text-center">Contacts:</p>
        <ul>
            <li><a href="https://github.com/Vladislav-Tymchuk">GitHub</a></li>
            <li><a href="https://www.instagram.com/tym4ukk/">Instagram</a></li>
            <li><a> @tym4uk - Telegram</a></li>
        </ul>
    </div> 
</footer>