{% extends 'base.html' %}
{% load static %}

{% block title %} {{clubPage}} {% endblock %}

{% block content %}


<div class="container">
	<div class="mt-3 mb-3">
		{% if request.user.is_authenticated %}
			<p class="text-center ms-auto"><span class="my__username">{{request.user.username}},</span> Вы выбрали <span class="choosed__club">{{clubPage.club_name}}</span></p>
		{% else %}
			<p class="text-center ms-auto">Вы выбрали {{club_page.club_name}}</p>
		{% endif %}
	</div>
	<div class="row mt-3">
		{% for post in posts.all %} 
			<div class="col-md-6">
				<div class="bg-light mb-3" style="max-width: 540px;">
					<div class="row g-0 mb-5">
						<div class="col-md-4">
							  <a href="{% url 'post' post.post_slug %}"><img src="{{post.post_image.url}}" class="img-fluid rounded-start" alt=""></a>
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<strong class="d-inline-block mb-2 text-primary club">{{post.post_club}}</strong>
								<a href="{% url 'post' post.post_slug %}" style="text-decoration: none;" class="title"><p class="card-text title">{{post.post_title}}</p></a>
								<p class="card-text"><small class="text-muted">{{post.post_published}}</small></p>
								<p># {{post.post_creator}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}